In [94]:
# Dependencies
import pandas as pd

In [95]:
# Store filepath in a variable
census_data = "chicago_census_data.csv"
vaccine_data = "COVID-19_Vaccinations_by_ZIP_Code.csv"

In [96]:
census_df = pd.read_csv(census_data, encoding="ISO-8859-1")
vaccine_df = pd.read_csv(vaccine_data,encoding="ISO-8859-1")

In [97]:
#cleaning census so Zip Code column matches Vaccinee CSV Zip Code
census_df = census_df.rename(columns={"Zipcode":"Zip Code"})
census_df.dtypes

Zip Code               int64
Population             int64
Median Age           float64
Household Income       int64
Per Capita Income      int64
Poverty Count          int64
Poverty Rate         float64
dtype: object

In [98]:
#getting rid of 'Unknown' values in vaccine df
vaccine_df = vaccine_df[vaccine_df["Zip Code"] != "Unknown"]
#changing Zip Code from Object to int
vaccine_df["Zip Code"]=vaccine_df["Zip Code"].astype(int)

In [99]:
#merging Data
merge_df = pd.merge(vaccine_df, census_df, on="Zip Code")
merge_df

,Zip Code,Date,Total Doses - Daily,Total Doses - Cumulative,1st Dose - Daily,1st Dose - Cumulative,1st Dose - Percent Population,Vaccine Series Completed - Daily,Vaccine Series Completed - Cumulative,Vaccine Series Completed - Percent Population,Population_x,ZIP Code Location,Row_ID,Population_y,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,60603,12/15/2020,0,0,0,0,0.000,0,0,0.000,1052,POINT (-87.625473 41.880112),60603-20201215,1052,31.2,146250,134620,142,13.498099
1,60603,12/16/2020,0,0,0,0,0.000,0,0,0.000,1052,POINT (-87.625473 41.880112),60603-20201216,1052,31.2,146250,134620,142,13.498099
2,60603,12/17/2020,8,8,8,8,0.008,0,0,0.000,1052,POINT (-87.625473 41.880112),60603-20201217,1052,31.2,146250,134620,142,13.498099
3,60603,12/18/2020,6,14,6,14,0.013,0,0,0.000,1052,POINT (-87.625473 41.880112),60603-20201218,1052,31.2,146250,134620,142,13.498099
4,60603,12/19/2020,3,17,3,17,0.016,0,0,0.000,1052,POINT (-87.625473 41.880112),60603-20201219,1052,31.2,146250,134620,142,13.498099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5853,60656,02/09/2021,163,2789,130,2230,0.079,33,559,0.020,28218,POINT (-87.817934 41.974566),60656-20210209,28218,40.1,64440,36778,2129,7.544830
5854,60656,02/14/2021,42,3463,37,2768,0.098,5,695,0.025,28218,POINT (-87.817934 41.974566),60656-20210214,28218,40.1,64440,36778,2129,7.544830
5855,60656,12/27/2020,0,197,0,197,0.007,0,0,0.000,28218,POINT (-87.817934 41.974566),60656-20201227,28218,40.1,64440,36778,2129,7.544830
5856,60656,12/26/2020,3,197,3,197,0.007,0,0,0.000,28218,POINT (-87.817934 41.974566),60656-20201226,28218,40.1,64440,36778,2129,7.544830
5857,60656,01/08/2021,65,520,17,426,0.015,48,94,0.003,28218,POINT (-87.817934 41.974566),60656-20210108,28218,40.1,64440,36778,2129,7.544830

In [100]:
test_df = merge_df.loc[merge_df["Population_x"] != merge_df["Population_y"]]
test_df

Empty DataFrame
Columns: [Zip Code, Date, Total Doses - Daily, Total Doses - Cumulative, 1st Dose - Daily, 1st Dose - Cumulative, 1st Dose - Percent Population, Vaccine Series Completed - Daily, Vaccine Series Completed - Cumulative, Vaccine Series Completed  - Percent Population, Population_x, ZIP Code Location, Row_ID, Population_y, Median Age, Household Income, Per Capita Income, Poverty Count, Poverty Rate]
Index: []

In [101]:
final_df.columns.tolist()

['Zip Code',
 'Date',
 'Total Doses - Daily',
 'Total Doses - Cumulative',
 '1st Dose - Daily',
 '1st Dose - Cumulative',
 '1st Dose - Percent Population',
 'ZIP Code Location',
 'Population_y',
 'Median Age',
 'Per Capita Income']

In [102]:
final_df = merge_df.drop(columns=['Row_ID', 'Poverty Count', 'Poverty Rate', 'Household Income', 'Population_x', 'Vaccine Series Completed - Daily','Vaccine Series Completed - Cumulative','Vaccine Series Completed  - Percent Population'])
final_df

,Zip Code,Date,Total Doses - Daily,Total Doses - Cumulative,1st Dose - Daily,1st Dose - Cumulative,1st Dose - Percent Population,ZIP Code Location,Population_y,Median Age,Per Capita Income
0,60603,12/15/2020,0,0,0,0,0.000,POINT (-87.625473 41.880112),1052,31.2,134620
1,60603,12/16/2020,0,0,0,0,0.000,POINT (-87.625473 41.880112),1052,31.2,134620
2,60603,12/17/2020,8,8,8,8,0.008,POINT (-87.625473 41.880112),1052,31.2,134620
3,60603,12/18/2020,6,14,6,14,0.013,POINT (-87.625473 41.880112),1052,31.2,134620
4,60603,12/19/2020,3,17,3,17,0.016,POINT (-87.625473 41.880112),1052,31.2,134620
...,...,...,...,...,...,...,...,...,...,...,...
5853,60656,02/09/2021,163,2789,130,2230,0.079,POINT (-87.817934 41.974566),28218,40.1,36778
5854,60656,02/14/2021,42,3463,37,2768,0.098,POINT (-87.817934 41.974566),28218,40.1,36778
5855,60656,12/27/2020,0,197,0,197,0.007,POINT (-87.817934 41.974566),28218,40.1,36778
5856,60656,12/26/2020,3,197,3,197,0.007,POINT (-87.817934 41.974566),28218,40.1,36778
5857,60656,01/08/2021,65,520,17,426,0.015,POINT (-87.817934 41.974566),28218,40.1,36778

In [103]:
#create line graphs that compare % complete on last day for each zip code
#to % complete for Chicago using final df (create a new df with final day)
#save as a png lowest average and highest average for presentation
#(See Matplot Lib Day 2 Activity 7)- Eugene
# if time, line graph 
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5858 entries, 0 to 5857
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Zip Code                       5858 non-null   int32
 1   Date                           5858 non-null   object
 2   Total Doses - Daily            5858 non-null   int64
 3   Total Doses - Cumulative       5858 non-null   int64
 4   1st Dose - Daily               5858 non-null   int64
 5   1st Dose - Cumulative          5858 non-null   int64
 6   1st Dose - Percent Population  5858 non-null   float64
 7   ZIP Code Location              5858 non-null   object
 8   Population_y                   5858 non-null   int64
 9   Median Age                     5858 non-null   float64
 10  Per Capita Income              5858 non-null   int64
dtypes: float64(2), int32(1), int64(6), object(2)
memory usage: 526.3+ KB

In [104]:
## make a copy of the final_df
final_date_df = final_df

## Date is a String object, need to convert it to a Datetime object for date comparison 
final_date_df['Date'] = pd.to_datetime(final_date_df['Date'], format='%m/%d/%Y')
final_date_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5858 entries, 0 to 5857
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Zip Code                       5858 non-null   int32
 1   Date                           5858 non-null   datetime64[ns]
 2   Total Doses - Daily            5858 non-null   int64
 3   Total Doses - Cumulative       5858 non-null   int64
 4   1st Dose - Daily               5858 non-null   int64
 5   1st Dose - Cumulative          5858 non-null   int64
 6   1st Dose - Percent Population  5858 non-null   float64
 7   ZIP Code Location              5858 non-null   object
 8   Population_y                   5858 non-null   int64
 9   Median Age                     5858 non-null   float64
 10  Per Capita Income              5858 non-null   int64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(6), object(1)
memory usage: 526.3+ KB

In [105]:
## Create a data series with zip code and max date
zip_date_ser = final_date_df.groupby('Zip Code')['Date'].max()
zip_date_ser.reset_index()

## Create a dataframe for merging with the original dataframe
zip_date_df = pd.DataFrame(zip_date_ser)

## Merge on Zip Code and max date via left join
final_max_date_df = pd.merge(zip_date_df, final_date_df, on=("Zip Code","Date"), how="left")
final_max_date_df.head(3)

,Zip Code,Date,Total Doses - Daily,Total Doses - Cumulative,1st Dose - Daily,1st Dose - Cumulative,1st Dose - Percent Population,ZIP Code Location,Population_y,Median Age,Per Capita Income
0,60601,2021-03-25,77,6280,55,4024,0.267,POINT (-87.622844 41.886262),15083,33.6,101066
1,60602,2021-03-25,11,944,7,586,0.512,POINT (-87.628309 41.883136),1145,34.1,128502
2,60603,2021-03-25,8,995,8,623,0.592,POINT (-87.625473 41.880112),1052,31.2,134620

In [107]:
## Add a column of % complete on last day for each zip code
final_max_date_df['1st_dose_percent_complete'] = round(final_max_date_df['1st Dose - Cumulative'] * 100 /final_max_date_df['Population_y'], 2)

## calcuate the mean % complete of Chicago: 
percent_1st_dose_complete_Chicago = round(final_max_date_df['1st Dose - Cumulative'].sum() * 100 / final_max_date_df['Population_y'].sum(), 2)
print(f"percent_1st_dose_complete_Chicago = {percent_1st_dose_complete_Chicago}")

percent_1st_dose_complete_Chicago = 24.51

In [108]:
final_max_date_df.head(3)

,Zip Code,Date,Total Doses - Daily,Total Doses - Cumulative,1st Dose - Daily,1st Dose - Cumulative,1st Dose - Percent Population,ZIP Code Location,Population_y,Median Age,Per Capita Income,1st_dose_percent_complete
0,60601,2021-03-25,77,6280,55,4024,0.267,POINT (-87.622844 41.886262),15083,33.6,101066,26.68
1,60602,2021-03-25,11,944,7,586,0.512,POINT (-87.628309 41.883136),1145,34.1,128502,51.18
2,60603,2021-03-25,8,995,8,623,0.592,POINT (-87.625473 41.880112),1052,31.2,134620,59.22

In [ ]:
#create heat map of % complete - Sarah 
#save heatmap for presentation

In [ ]:
#median age comparison across zip codes - bar graph - John
#median age comparison to % complete/zip code- if time
#save png for presentation

In [ ]:
#create a scatterplot comparing average income per capita and % vaccination- Amy
#calculate the r-value